# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled SPIR-V shaders
.spv

# Executables
*.exe
*.out
*.app

# Dependencies
libraries/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# CMake build directory and output binaries
build/
bin/

# Clangd cache
.cache/

# Excpetions for the assets folder
!assets/*
